<div class="make-a-tranfer-banner">
  <h3>
    <div class="sync-icon">
      <fa-icon [icon]="faSyncAlt"></fa-icon>
    </div>
    <div>Make a Transfer</div>
  </h3>

  <div class="form-make-a-transfer">
    <div>
      <label>FROM ACCOUNT
        <input placeholder="from account"/>
      </label>
    </div>

    <div>
      <label>TO ACCOUNT
        <input placeholder="to account"/>
      </label>
    </div>

    <div>
      <label>AMOUNT
        <input placeholder="amount"/>
      </label>
    </div>
  </div>

  <div class="submit-button">
    <button>SUBMIT</button>
  </div>
</div>
