.make-a-tranfer-banner {
  background-color: #fcfcfc;
  border: 1px solid gray;
  width: 300px;
}

.make-a-tranfer-banner h3 {
  background-color: #008075;
  color: #fff;
  text-align: center;
  padding: 6px 0;
  margin-top: 0;
  font-weight: lighter;
}

.make-a-tranfer-banner .sync-icon {
  position: absolute;
  padding-left: 16px;
}

.make-a-tranfer-banner label {
  display: grid;
  font-family: 'Kanit';
  font-size: 14px;
  font-weight: 500;
  padding: 12px;
}

.make-a-tranfer-banner input {
  border: 0;
  border-bottom: 1px solid #737373;
  padding-top: 12px;
}

.make-a-tranfer-banner .form-make-a-transfer {
  padding: 0 18px;
}

.make-a-tranfer-banner .submit-button {
  text-align: right;
}

.make-a-tranfer-banner button {
  background-color: #e64800;
  border: 0;
  border-radius: 4px;
  color: #fff;
  padding: 10px 30px;
  margin: 42px 28px 28px;
  width: 200px;
}
