.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: #e64800 2px solid;
  padding-left: 60px;
}

.toolbar img {
  margin: 0 16px;
  max-width: 100%;
  width: 350px;
}
