<div class="recent-transactions-banner">
  <h3>
    <div class="briefcase-icon">
      <fa-icon [icon]="faBriefCase"></fa-icon>
    </div>
    <div>Recent Transactions</div>
  </h3>

  <div class="recent-transactions-container">

    <div class="recent-transactions-buttons">
      <div class="search-typing">
        <label>
          <input placeholder="Search by typing"/>
        </label>
      </div>

      <div class="sort-by">
        <p class="col-25">Sort by</p>
        <select class="col-25" name="select">
          <option value="value1" selected>DATE</option>
          <option value="value2" >Value 1</option>
          <option value="value3">Value 2</option>
        </select>
        <button class="col-25 no-border">BENEFICIARY</button>
        <button class="col-25">AMOUNT</button>
      </div>
    </div>

    <div class="recent-transactions-list">

      <div class="transaction-item" *ngFor="let transaction of transactions">
        <div class="col-15 date">{{transaction.dates.valueDate | date: 'MMM d'}}</div>
        <div class="col-25 image-logo">
          <img alt="{{transaction.merchant.name}}" src="{{transaction.merchant.logo}}"/>
        </div>
        <div class="col-25 transaction-concept">
          <span class="company">{{transaction.merchant.name}}</span>
          <span class="payment">{{transaction.transaction.type}}</span>
        </div>
        <div class="col-25 amount">{{transaction.transaction.amountCurrency.amount}}</div>
      </div>

    </div>
  </div>
</div>
